@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.DropZoneStyle {
  background-color: red;
  border-radius: "80%";
  /* z-index: 0;
  width: "100%";
  height: "100%";
  outline: "none";
  display: "flex";
  overflow: "hidden";
  border-radius: "80%";
  position: "relative";
  align-items: "center";
  justify-content: "center"; */
}

/* .DropZoneStyle>* {
  width: "100%";
  height: "100%"
}

.DropZoneStyle:hover {
  cursor: "pointer";
}

.DropZoneStyle:hover .placeholder {
  z-index: 9;
} */