@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.dropdown {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}